#background_div {
    width: 100%;
    background: linear-gradient(to top right, #1C1C1C 40%, #08463B);
    display: flex;
    justify-content: center;
}

.landing_page {
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #ffffff;
    overflow: hidden;
}

#header {
    position: absolute;
    inset: 0;
    height: 120px;
}

#name_title {
    min-height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        >p {
            font-size: 40px;
            font-family: 'Fira Code';
        }
        >h1 {
            font-size: 128px;
            font-weight: 700;
        }
}

button {
    width: 172px;
    height: 48px;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    background: none;
    color: white;
    margin: 16px;
    cursor: pointer;
    &:hover {
        scale: 1.1;
    }
}

#banner {
    width: 100%;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    z-index: 20;
    gap: 32px;
    background: rgba(105, 103, 103, 0.4);
    rotate: 358deg;
    overflow: hidden;
    backdrop-filter: blur(4px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 8px;
}

#info {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#info_content {
    display: inline-block;
    animation: scroll 20s linear infinite;
    >span {
        display: inline-block;
        margin-right: 16px;
        font-size: 32px;
        color: rgba(61, 207, 182, 1);;
    }
}

@keyframes scroll {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-50%);
  }
}

#decoration_landing {
    width: 100%;
    max-width: 1920px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding-left: 128px;
    padding-right: 128px;
}

#right_decoration {
    width: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    >a {
        color: white;
        text-decoration: none;
    }
}

.link_icons {
    width: 48px;
    height: 48px;
}

#hidden_mail {
    display: none;
    cursor: pointer;
}

#mail_adress {
    position: absolute;
    bottom: 350px;
    transform: rotate(-90deg) translateY(-15px);
    transform-origin: left top;
    font-size: 24px;
}

#right_line {
    width: 1px;
    border: 1px solid white;
    height: 200px;
}

#left_decoration {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
    >div {
        width: 35px;
        height: 72px;
        border: 1px solid rgba(61, 207, 182, 1);
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        >img {
            animation: floatArrow 3s ease-in-out infinite;
            
            @keyframes floatArrow {
                0%, 100% {
                    transform: translateY(20px)
                }
                50% {
                    transform:translateY(-20px);
                }
            }
        }
    }
}

#left_line {
    width: 1px;
    border: 1px solid rgba(61, 207, 182, 1);
    height: 400px;
}

@media (max-width: 1250px) {
    #right_line {
        height: 130px;
    }

    #left_line {
        height: 180px;
    }

    #left_decoration {
        gap: 16px
    }

    #mail_adress {
        display: none;
    }

    #hidden_mail {
        display: flex;
    }

    #decoration_landing {
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media (max-width: 900px) {
    #name_title {
        >p {
            font-size: 20px;
        }
        >h1 {
            font-size: 64px;
        }
    }
}

@media (max-width: 500px) {
    #name_title {
        >p {
            font-size: 16px;
        }
        >h1 {
            font-size: 45px;
        }
    }
    
    .link_buttons {
        display: flex;
        flex-direction: column;
    }

    button {
        margin: 8px
    }
}