<div id="background_div">
    <div class="landing_page">
        <app-header id="header"></app-header>
        <div id="name_title">
            <p> {{'landingPage.job_title' | translate}}</p>
            <h1>Malte Schütte</h1>
            <div class="link_buttons">
                <a href="#featured_projects"><button>{{'landingPage.check_work' | translate}}</button></a>
                <a href="#contact_div"><button>{{'landingPage.contact_me' | translate}}</button></a>
            </div>
        </div>
        <div id="banner">
            <div id="info">
                <div id="info_content">
                @for (span of spans; track $index) {
                    <span>{{span}}</span>
                }
                @for (span of spans; track $index) {
                    <span>{{span}}</span>
                }
                </div>
            </div>
        </div>
        <div id="decoration_landing">
            <div id="left_decoration">
                <div>
                    <img id="arrow_landing" src="./assets/icons/Arrow_down_landing.svg" alt="Icon of Arrow">
                </div>
                <hr id="left_line">
            </div>
            <div id="right_decoration">
                <a href="mailto:malte.schuette92@gmail.com"><span id="mail_adress">malte.schuette92@gmail.com</span></a>
                <a href="mailto:malte.schuette92@gmail.com">   
                    <img id="hidden_mail" class="link_icons" 
                    [src]="mailIsHovered ? './assets/icons/mail_hover.svg' : './assets/icons/mail.svg'" 
                    (mouseenter)="mailIsHovered = true"
                    (mouseleave)="mailIsHovered = false"
                    alt="Mail Icon">
                </a> 
                <a href="https://github.com/MalteSchuette" target="_blank" rel="noopener noreferrer">
                    <img class="link_icons" 
                        [src]="gitIsHovered ? './assets/icons/github_hover.svg' : './assets/icons/github.svg'" 
                        (mouseenter)="gitIsHovered = true"
                        (mouseleave)="gitIsHovered = false"
                        alt="Github Icon">
                </a>
                <a href="https://www.linkedin.com/in/malte-sch%C3%BCtte/" target="_blank" rel="noopener noreferrer">
                    <img class="link_icons" 
                        [src]="linkedIsHovered ? './assets/icons/linked_hover.svg' : './assets/icons/linkedIn.svg'" 
                        (mouseenter)="linkedIsHovered = true"
                        (mouseleave)="linkedIsHovered = false"
                        alt="LinkedIn Icon">
                </a>
                <hr id="right_line">
            </div>
        </div>
    </div>
</div>