.max_width_1920 {
  width: 100%;
  background: linear-gradient( to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  display: flex;
  justify-content: center;
  height: 120px;
}

.header_div {
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
}



p {
  font-size: 40px;
}

#nav_links {
    display: flex;
    gap: 16px;
    font-size: 20px;
    >button {
        font-size: 20px;
        background-color: red;
        border-radius: 8px;
        border: none;
    }
}

a {
  position: relative;
  text-decoration: none;
  color: white;
  font-weight: 400;
  transition: color 0.2s ease-in-out;

  &::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%) scale(0);
    width: 6px;
    height: 6px;
    background-color: #00c7b7;
    border-radius: 50%;
    transition: transform 0.1s ease-in-out;
  }

  &:hover::after {
    transform: translateX(-50%) scale(1);
  }
}