.max_width_1920 {
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  display: flex;
  justify-content: center;
  height: 120px;
}

.header_div {
  width: 100%;
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 128px;
  padding-right: 128px;
}

#lang_btn {
  display: flex;
  align-items: center;
  background: none;
  border: 1px solid rgba(61, 207, 182, 1);
  border-radius: 8px;

  >button {
    color: rgba(61, 207, 182, 1);
    background: none;
    border: none;
    font-size: 21px;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    padding: 0 3px;
  }

  &:hover {
    border-color: white;
  }

  >button.active {
    background: rgba(61, 207, 182, 1);
    color: white;
  }
}

p {
  font-size: 40px;
}

#nav_links {
  display: flex;
  gap: 16px;
  font-size: 20px;
}

#nav_links a {
  position: relative;
  text-decoration: none;
  color: white;
  font-weight: 400;
  transition: color 0.2s ease-in-out;
  &:hover {
    color: rgba(61, 207, 182, 1);
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%) scale(0);
    width: 6px;
    height: 6px;
    background-color: #00c7b7;
    border-radius: 50%;
    transition: transform 0.1s ease-in-out;
  }

  &:hover::after {
    transform: translateX(-50%) scale(1);
  }
}

#responsive_logo {
  display: none;
  font-size: 40px;
}

#burger_menu {
  display: none;
  cursor: pointer;
  transition: .2s ease-in;
  &:hover {
    scale: 1.1
  }
}

#burger_div{
  width: 220px;
  height: 200px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100px;
  right: 32px;
  font-size: 24px;
  border: 2px solid rgba(61, 207, 182, 1);
  background: linear-gradient(to bottom right, rgba(28, 28, 28, 1), rgba(8, 70, 59, 1));
  border-radius: 24px;
  gap: 16px;
}

#burger_div a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  &:hover {
    color: rgba(61, 207, 182, 1);
  }
}

@media (max-width: 1250px) {
  .header_div {
    padding-left: 32px;
    padding-right: 32px;
  }
}


@media (max-width: 900px) {
  #responsive_logo {
    display: flex;
  }

  #nav_links {
    display: none;
  }

  #name_tag {
    display: none;
  }

  #burger_menu {
    display: flex;
  }
}

