#about_me {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(28, 28, 28, 1);
    padding-top: 132px;
    padding-bottom: 132px;
    gap: 80px;
}

h3 {
    color: rgba(61, 207, 182, 1);
    margin-bottom: 16px;
    font-size: 24px;
}

h2 {
    color: rgba(61, 207, 182, 1);
    font-size: 64px;
    font-weight: 700;
}

p {
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
     
}

#about_me_intro {
    text-align: justify;
}

#headline_text {
    margin-top: 148px;
}

.text_about_me {
    width: 586px;
    border-radius: 24px;
    padding: 24px;
    background: linear-gradient(to right, rgba(61, 207, 182, 0.1), rgba(0, 0, 0, 0));
    border: 2px solid rgba(61, 207, 182, 1);
}

table {
    margin-top: 16px;
}

th, td {
    padding: 10px;
    
}

.image-wrapper {
    position: relative;
    display: inline-block;
    transition: .2s ease-in-out;
}

.image-wrapper::after {
    content: "";
    position: absolute;
    inset: 0;
    background: repeating-linear-gradient(
        45deg,
        rgba(61,207,182,.5) 0,
        rgba(61,207,182,.5) 2px,
        transparent 2px,
        transparent 36px
    );
    transform: translate(-36px, 36px);
    border-radius: 24px;
    opacity: 0;
    transition: opacity .3s;
    z-index: 1;
}

.image-wrapper img {
    width: 586px;
    height: 586px;
    object-fit: contain;
    position: relative;
    border-radius: 24px;
    z-index: 2;
}

.image-wrapper:hover::after {
    opacity: 1;
}

.image-wrapper:hover {
    transform: translate(-6px, -6px);
}

@media (max-width: 1250px) {
    #about_me {
        flex-direction: column;
    }

    #headline_text {
        margin-top: 0px;
    }

    #about_me {
        padding-bottom: 80px;
}
}

@media (max-width: 620px) {
    .image-wrapper img {
        width: 400px;
        height: 400px;
    }

    .text_about_me {
        width: 400px;
    }
}

@media (max-width: 420px) {
    .image-wrapper img {
        width: 300px;
        height: 300px;
    }

    .text_about_me {
        width: 300px;
    }

    h2 { 
        font-size: 32px;
    }

    p {
        font-size: 16px;
    }
}