#background {
    width: 100%;
    background-color: rgba(28, 28, 28, 1);
    display: flex;
    justify-content: center;
}

#contact_div {
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: center;
    padding-left: 128px;
    padding-right: 85px;
    gap: 64px;

}

form {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex: 1;
        >label {
            height: 72px;
            display: flex;
            align-items: center;
            padding: 16px;
            border-top: 1px solid rgba(61, 207, 182, 1);
            font-family: 'Fira Code';
            font-size: 24px;
            color: rgba(61, 207, 182, 1);
        }
        >input[type=text], [type=email] {
            background: none;
            border: none;
            color: white;
            font-size: 16px;
            margin: 16px;
        }

        >textarea {
            background: none;
            border: none;
            color: white;
            font-size: 16px;
            margin: 16px;
        }
        >button {
            width: 172px;
            height: 48px;
            border: 1px solid #FFFFFF;
            border-radius: 100px;
            background: none;
            color: white;
            margin: 32px;
            align-self: center;
        }
    }

#submit_button {
    width: 172px;
    height: 48px;
    background: linear-gradient(to top right, #1C1C1C 40%, #08463B);
    color: white;
    border: none;
    border-radius: 10px;
    z-index: 2;
    cursor: pointer;
}

.submit_button_div {
    position: relative;
    align-self: center;
    width: 174px;
    height: 50px;
    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    &:hover {
        scale: 1.1;
    }
}

.submit_button_div::after, .submit_button_div::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: conic-gradient(from var(--angle), transparent 40%, rgba(61, 207, 182, 1));
    z-index: 1;
    padding: 10px;
    border-radius: 10px;
    animation: 3s spin linear infinite
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle:360deg;
    }
}

.submit_button_div::before {
    filter: blur(1.5rem)
    opacity(0.5)
}


#privacy_checkbox {
    display: flex;
    gap: 16px;
    >p {
        color: white;
    }
}

.error_msg {
    color: red;
}

#pp_link {
    color: rgba(61, 207, 182, 1);
    text-decoration: none;
}

#project_aim {
    display: inline-block;
    font-family: 'Fira Code';
    font-size: 24px;
    font-weight: 700;
    color: rgba(61, 207, 182, 1);
    padding-top: 16px;
    padding-bottom: 16px;
}

#contact_info {
    max-width: 600px;
        >h3 {
            font-size: 24px;
            font-weight: 500;
            color: rgba(61, 207, 182, 1);
        }
        >h2 {
            font-family: 'Fira Code';
            font-size: 64px;
            font-weight: 700;
            color: rgba(61, 207, 182, 1);
            margin-bottom: 20px;
        }
        >p {
            color: white;
            font-size: 16px;
            margin-top: 24px;
        }
    }

#special_span {
    font-family: 'Fira Code';
    font-size: 24px;
    font-weight: 700;
    color: rgba(61, 207, 182, 1);
}

@media (max-width: 1450px) {
    #contact_info {
    max-width: 400px;
    }
}

@media (max-width: 1250px) {
    #contact_div {
        flex-direction: column;
    }
}

@media (max-width: 560px) {
    #contact_div {
        padding-left: 24px;
        padding-right: 24px;
    }

    #contact_info {
        >h2 {
            font-size: 56px;
        }
    }
}