#background {
    width: 100%;
    background-color: rgba(28, 28, 28, 1);
    display: flex;
    justify-content: center;
}

#contact_div {
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: center;
    padding: 32px;
    gap: 64px;

}

form {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex: 1;
        >label {
            height: 72px;
            display: flex;
            align-items: center;
            padding: 16px;
            border-top: 1px solid rgba(61, 207, 182, 1);
            font-family: 'Fira Code';
            font-size: 24px;
            color: rgba(61, 207, 182, 1);
        }
        >input[type=text], [type=email] {
            background: none;
            border: none;
            color: white;
            font-size: 16px;
            margin: 16px;
        }

        >textarea {
            background: none;
            border: none;
            color: white;
            font-size: 16px;
            margin: 16px;
        }
        >button {
            width: 172px;
            height: 48px;
            border: 1px solid #FFFFFF;
            border-radius: 100px;
            background: none;
            color: white;
            margin: 32px;
            align-self: center;
        }
    }

#submit_button {
    width: 172px;
    height: 48px;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    background: none;
    color: white;
    margin: 32px;
    align-self: center;
}

#privacy_checkbox {
    display: flex;
    gap: 16px;
    >p {
        color: white;
    }
}

.error_msg {
    color: red;
}

#pp_link {
    color: rgba(61, 207, 182, 1);
    text-decoration: none;
}

#project_aim {
    font-family: 'Fira Code';
    font-size: 24px;
    font-weight: 700;
    color: rgba(61, 207, 182, 1);
}

#contact_info {
    flex: 1;
        >h3 {
            font-size: 24px;
            font-weight: 500;
            color: rgba(61, 207, 182, 1);
        }
        >h2 {
            font-family: 'Fira Code';
            font-size: 64px;
            font-weight: 700;
            color: rgba(61, 207, 182, 1);
            margin: 20px 0;
        }
        >p {
            color: white;
            font-size: 16px;
            margin-top: 24px;
        }
    }

#special_span {
    font-family: 'Fira Code';
    font-size: 24px;
    font-weight: 700;
    color: rgba(61, 207, 182, 1);
}

