#reference_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background-color: rgba(28, 28, 28, 1);
  padding: 40px 0;
  gap: 40px;
  overflow: hidden;
}

h2 {
    font-size: 32px;
    color: rgba(61, 207, 182, 1);
}

#reference_cards {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 1920px;
  height: 320px;
  overflow: hidden; 
}

.single_card {
  flex: 0 0 650px;
  margin: 0 20px;
  border-radius: 20px;
  padding: 30px;
  background: rgba(0, 255, 200, 0.05);
  transition: all 0.5s ease;
  transform: scale(0.9);
  backdrop-filter: blur(4px);
  box-sizing: border-box;
  position: relative;
  border: 2px solid rgba(61, 207, 182, 1);
}

.single_card.active {
  background: rgba(0, 255, 200, 0.15);
  opacity: 1;
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(0, 255, 200, 0.25);
  z-index: 2;
}

.single_card.left {
  transform: translateX(-40px) scale(0.95);
  opacity: 0.7;
  z-index: 1;
}

.single_card.right {
  transform: translateX(40px) scale(0.95);
  opacity: 0.7;
  z-index: 1;
}

.decoration {
    width: 90%;
    height: 2px;
    background-color: white;
    margin-right: 8px;
}

.reference_person {
    display: flex;
    align-items: center;
    gap: 10px;
}

#ref_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.nav_buttons {
    background: transparent;
    border: none;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.nav_buttons.active_nav {
    opacity: 1;
    transform: scale(1.2);
}

#reference_cards::before,
#reference_cards::after {
  content: "";
  position: absolute;
  top: 0;
  width: 150px;
  height: 100%;
  z-index: 3;
  pointer-events: none;
}

#reference_cards::before {
  left: 0px;
  background: linear-gradient(to right, #1C1C1C 75%, transparent);
}

#reference_cards::after {
  right: 0;
  background: linear-gradient(to left, #1C1C1C 75%, transparent);
}

#special_p {
    min-height: 150px;
}

@media (max-width: 1250px) {
  .single_card {
    flex: 0 0 450px;
  }
}

@media (max-width: 950px) {
  .single_card {
    flex: 0 0 320px;
  }

  #reference_cards::before,
  #reference_cards::after {
  content: "";
    position: absolute;
    top: 0;
    width: 80px;
    height: 100%;
    z-index: 3;
    pointer-events: none;
  }
}

@media (max-width: 640px) {
  #reference_cards::before,
  #reference_cards::after {
    display: none;
  }

  .single_card.left {
    display: none;
  }

.single_card.right {
    display: none;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 32px;
    padding-left: 16px;
  }

  .single_card {
    flex: 0 0 290px;
  }
}