h3 {
    font-size: 24px;
    font-weight: 700;
    color: rgba(61, 207, 182, 1);
}

h2 {
    font-family: 'Fira Code';
    font-size: 64px;
    font-weight: 700;
    color: rgba(61, 207, 182, 1);
}

#section_description {
    font-size: 18px;
    >p {
        margin: 16px 0;
    }
}

#projects {
    margin-top: 24px;

}

.button_projects {
    position: relative;
    width: 900px;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    color: white;
    border-left: none;
    border-right: none;
    border-top: none;
    border-color: rgba(61, 207, 182, 1);
    cursor: pointer;
        &:hover {
            background: linear-gradient(to right, rgba(61, 207, 182, 0.4), rgba(0, 0, 0, 0));
        }
        &:first-child {
            border-top: 1px solid rgba(61, 207, 182, 1);
    }
}

// .project_name::after {
//     content: url('/assets/icons/arrow_projects.svg');
//     position: absolute;
//     top: 42px;
//     left: -320px;
//     width: 100%;
//     height: 100%;
//     opacity: 0;
//     transition: opacity 0.3s ease;
// }

.project_name:hover::after {
    opacity: 1;
}

.project_name {
    font-family: 'Fira Code';
    font-size: 24px;
    font-weight: 700;
}

#project_interactiv {
    display: flex;
    align-items: center;
    gap: 48px;
}

#project_window {
    position: relative;
    display: inline-block;
    transition: .2s ease-in-out;
    margin-top: 24px;
}

#project_window::after {
    content: "";
    position: absolute;
    inset: 0;
    background: repeating-linear-gradient(
        45deg,
        rgba(61,207,182,.5) 0,
        rgba(61,207,182,.5) 2px,
        transparent 2px,
        transparent 8px
    );
    transform: translate(24px, 24px);
    border-radius: 24px;
    opacity: 1;
    transition: opacity .3s;
    z-index: 1;
}

#project_window img{
    position: relative;
    z-index: 2;
    height: 320px;
    border-radius: 16px;
}

#overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#overlay.active {
    display: flex;
}

#overlay_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    >h1 {
        font-size: 128px;
        color: rgba(61, 207, 182, 1);
    }
    >h2 {
        font-size: 64px;
        font-family: 'Fira Code';
        color: white; 
    }
    >h3 {
        font-size: 24px;
        margin-bottom: 16px;
        margin-top: 16px;
    }
}

#project_icons {
    display: flex;
    gap: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
    >div {
        display: flex;
        align-items: center;
        gap: 4px;
    }
}

#overlay_window {
    width: 1000px;
    height: 700px;
    background: linear-gradient(to left, #1C1C1C 40%, #08463B);
    border-radius: 24px;
    padding: 24px;
    display: flex;

}

#overlay_img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    flex: 1;
    >button {
        color: rgba(61, 207, 182, 1);
        background: none;
        border: none;
        transition: .2s ease-in-out;
        &:hover {
            scale: 1.1;
            color: white;
        }
    }
    >img {
        width: 400px;
        object-fit: cover;
        margin-top: 80px;
        margin-bottom: 80px;
        border-radius: 16px;
    }
}

.links_button {
    width: 172px;
    height: 48px;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    background: none;
    color: white;
    margin: 16px;
    cursor: pointer;
    &:hover {
        scale: 1.1;
    }
}

#next_project_button {
    display: flex;
    align-items: center;
    gap: 8px;
}

.max_width_1920 {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(28, 28, 28, 1);
    
}

#featured_projects {
    width: 100%;
    max-width: 1920px;
    padding-left: 128px;
    padding-right: 128px;
    color: white;
    padding-top: 48px;
    padding-bottom: 48px;
}

@media (max-width: 1600px) {
   #project_window img{
        height: 200px;
        border-radius: 16px;
    }

    .button_projects {
    width: 600px;
    height: 110px;
    }

    #featured_projects {
    padding-left: 64px;
    padding-right: 64px;
    }
}

@media (max-width: 1100px) {
    h2 {
        font-size: 40px;
    }

   #project_window img{
        display: none;
    }

    #projects {
        width: 100%;
    }

    #project_interactiv {
        gap: 0;
    }

    .button_projects {
        width: 100%;
        height: 110px;
    }
}

@media (max-width: 600px) {
    .button_projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}

@media (max-width: 400px) {
    .button_projects {

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }
}


