#featured_projects {
    background-color: rgba(28, 28, 28, 1);
    color: white;
    padding-left: 96px;
    padding-right: 96px;
    padding-top: 48px;
    padding-bottom: 48px;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    color: rgba(61, 207, 182, 1);
}

h2 {
    font-family: 'Fira Code';
    font-size: 64px;
    font-weight: 700;
    color: rgba(61, 207, 182, 1);
}

#projects {
    margin-top: 24px;
}

.button_projects {
    width: 900px;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    color: white;
    border-left: none;
    border-right: none;
    border-top: none;
    border-color: rgba(61, 207, 182, 1);
    cursor: pointer;
        &:hover {
            background: linear-gradient(to right, rgba(61, 207, 182, 0.4), rgba(0, 0, 0, 0));
        }
        &:first-child {
            border-top: 1px solid rgba(61, 207, 182, 1);
    }
}

.project_name {
    font-family: 'Fira Code';
    font-size: 24px;
    font-weight: 700;
}

#project_interactiv {
    display: flex;
    align-items: center;
    gap: 48px;
}

#project_window img{
    height: 320px;
    border-radius: 16px;
}

#overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
}

#overlay.active {
    display: flex;
}

#overlay_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    >h1 {
        font-size: 128px;
        color: rgba(61, 207, 182, 1);
    }
    >h2 {
        font-size: 64px;
        font-family: 'Fira Code';
        color: white; 
    }
    >h3 {
        font-size: 24px;
        margin-bottom: 16px;
        margin-top: 16px;
    }
}

#project_icons {
    display: flex;
    gap: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
    >div {
        display: flex;
        align-items: center;
        gap: 4px;
    }
}

#overlay_window {
    width: 1000px;
    background: linear-gradient(to left, #1C1C1C 40%, #08463B);
    border-radius: 24px;
    padding: 24px;
    display: flex;

}

#overlay_img {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-height: auto;
    flex: 1;
    >button {
        color: rgba(61, 207, 182, 1);
        background: none;
        border: none;
        &:hover {
            scale: 1.1;
        }
    }
    >img {
        max-width: 400px;
        margin-top: 80px;
        margin-bottom: 80px;
        border-radius: 16px;
    }
}

#links_button {
    >button {
        width: 172px;
        height: 48px;
        border: 1px solid #FFFFFF;
        border-radius: 100px;
        background: none;
        color: white;
        margin: 16px;
        cursor: pointer;
        &:hover {
            scale: 1.1;
        }
    }
}

#next_project_button {
    display: flex;
    align-items: center;
    gap: 8px;
}