<footer>
    <div class="footer_content">
        <div id="pers_info">
            <a href="#"><h3>>>MS</h3></a>
            <p>FS Developer</p>
            <p>Berlin Germany</p>
        </div>
        <p>© Malte Schütte 2025</p>
        <div id="links">
            <a href="https://github.com/MalteSchuette" target="_blank">Github</a>
            <a href="https://www.linkedin.com/in/malte-sch%C3%BCtte/" target="_blank">LinkedIn</a>
             <a href="mailto:malte.schuette92@gmail.com" target="_blank">Email</a>
            <a [routerLink]="['/imprint']">Legal Notice</a>
        </div>
    </div>
</footer>