footer {
    background-color: rgba(28, 28, 28, 1);
    display: flex;
    justify-content: center;

}

.footer_content {
    width: 100%;
    max-width: 1920px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
        >p {
            font-family: 'Fira Code';
            font-size: 18px;
            color: rgba(61, 207, 182, 1);
        }
}

#pers_info {
    font-size: 16px;
    color: white;
}

#links {
    display: flex;
    flex-direction: column;
        >a {
            color: white;
            text-decoration: none;
            margin-bottom: 8px;
        }
}