<footer>
    <div class="footer_content">
        <div id="pers_info">
            <h3>>>MS</h3>
            <p>FS Developer</p>
            <p>Berlin Germany</p>
        </div>
        <p>© Malte Schütte 2025</p>
        <div id="links">
            <a href="https://github.com/MalteSchuette">Github</a>
            <a href="https://www.linkedin.com/in/malte-sch%C3%BCtte/">LinkedIn</a>
             <a href="mailto:malte.schuette92@gmail.com">Email</a>
            <a href="imprint">Legal Notice</a>
        </div>
    </div>
</footer>